{% extends "base.html" %}
{% block title %}{{ header }}{% endblock %}
{% block content %}

<!-- Blog Header (Recent or Category Specific) -->
<div class="container mt-5">
    <h1>Recent Posts</h1>
    <hr>

    <!-- Blog Post Headers (Image and Title Only) -->
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="get_post_url_global(post)">
                        {% if post.img_url.endswith('.jpg') or post.img_url.endswith('.jpeg') or post.img_url.endswith('.png') %}
                            {% set webp_url = post.img_url.rsplit('.', 1)[0] + '.webp' %}
                            <picture>
                                <source srcset="{{ webp_url }}" type="image/webp">
                                <img src="{{ post.img_url }}" class="card-img-top blog-thumbnail" alt="{{ post.title }}" loading="lazy" decoding="async">
                            </picture>
                        {% else %}
                            <img src="{{ post.img_url }}" class="card-img-top blog-thumbnail" alt="{{ post.title }}" loading="lazy" decoding="async">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ post.title }}</h5>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>


    <!-- Blog Categories -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h3>Other Blog Categories</h3>
                <div class="category-list">
                    {% for category in categories %}
                        <div class="category-item">
                            <!-- Replace spaces with hyphens for URL -->
                            <a href="{{ url_for('show_category', category=post.category.replace(' ', '-').lower()) }}">{{ category }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
