{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

  <section class="container">
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div>
              <h1>DISCLAIMER</h1>
                <p class="paragraph">If you require any more information or have any questions about our site’s disclaimer, please feel free to contact us by email at ruthselormeacolatse.website@gmail.com</p>

                <h4 class="paragraph">Disclaimers for <a href="https://www.ruthselormeacolatse.com">https://www.ruthselormeacolatse.com</a></h4>

                <p class="paragraph">All the information on this website <a href="https://www.ruthselormeacolatse.com">https://www.ruthselormeacolatse.com</a> is published in good faith and for general information purposes only. <a href="https://www.ruthselormeacolatse.com">https://www.ruthselormeacolatse.com</a> does not make any warranties about the completeness, reliability and accuracy of this information.</p>

                <p class="paragraph">Any action you take upon the information you find on this website (<a href="https://www.ruthselormeacolatse.com">https://www.ruthselormeacolatse.com</a>), is strictly at your own risk. <a href="https://www.ruthselormeacolatse.com">https://www.ruthselormeacolatse.com</a> will not be liable for any losses and/or damages in connection with the use of our website.</p>

                <p class="paragraph">From our website, you can visit other websites by following hyperlinks to such external sites.</p>

                <p class="paragraph">While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites.</p>

                <p class="paragraph">These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’.</p>

                <p class="paragraph">Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control.</p>

                <p class="paragraph">Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.</p>

                <h2 class="paragraph">Consent</h2>
                <p class="paragraph">By using our website, you hereby consent to our disclaimer and agree to its terms.</p>

                <h2 class="paragraph">Update</h2>
                <p class="paragraph">Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>


              <!-- Social Media Icons Centered -->
              <div class="d-flex justify-content-center align-items-center gap-3">
                <a class="text-body-secondary" href="https://github.com/Selorme"><img class="github socials" src="/static/img/githubdark.svg" width="30" height="30" /></a>
                <a class="text-body-secondary" href="https://www.linkedin.com/in/ruth-acolatse-0450181a1/"><img class="lin socials" src="/static/img/linkedindark.svg" width="30" height="30" /></a>
                <a class="text-body-secondary" href="https://www.instagram.com/sselorme"><img class="ins socials" src="/static/img/instagramdark.svg" width="30" height="30" /></a>
                <a class="text-body-secondary" href="https://www.facebook.com/sselorme"><img class="fac socials" src="/static/img/facebookdark.svg" width="30" height="30" /></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

{% endblock %}