{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <!-- Section: About -->
    <section id="about" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 wp1">
                        <h1 id="aboutme">RUTH SELORME ACOLATSE - Web Developer, Content Creator, Journalist</h1>
                        <picture>
                          <source srcset="{{ url_for('static', filename='img/prof-img.webp') }}" type="image/webp">
                          <img
                            src="{{ url_for('static', filename='img/prof-img.png') }}"
                            alt="Ruth Selorme Headshot"
                            width="200" height="200"
                            decoding="async"
                            fetchpriority="high">
                        </picture>
                        <p>
                            Hey! I'm Ruth Selorme. I'm a web developer with a passion for back end development, database management, and data science. I recently graduated from <a class="btn btn-outline-success" href="https://www.marmara.edu.tr/" target="_blank"><em>Marmara University</em></a>
                            with a degree in Journalism.
                            <br>
                            <br> When I'm not on the computer, I enjoy debating, coloring, and cooking. You can read more about me <a class="btn btn-outline-success" href="{{ url_for('about') }}" target="_blank"><em>here...</em></a>

                        </p>
                    </div>
                </div>

                <div class="row text-center">
                    <div id="tl-dr">
                        <div class="tldr-proc">
                            <div class="tldr-icon"><i class="fa fa-tree"></i>
                            <img src="/static/img/pencil-square.svg" width="30" height="30" alt="pencil and square">
                            </div>
                            <p>Content Creator</p>
                        </div>
                        <div class="tldr-proc">
                            <div class="tldr-icon"><i class="fa fa-pencil"></i>
                            <img src="/static/img/journal-album.svg" width="30" height="30" alt="journal">
                            </div>
                            <p>Journalist</p>
                        </div>
                        <div class="tldr-proc">
                            <div class="tldr-icon" id="tldr-keyboard"><i class="fa fa-keyboard-o"></i>
                            <img src="/static/img/keyboard.svg" width="30" height="30" alt="keyboard">
                            </div>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container text-center">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-5">
                <h2 class="lead-text" id="posts">Latest Posts</h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for post in latest_posts %}
                        <div class="col">
                            <div class="card mb-4">
                                <img src="{{ post.img_url }}" class="responsive-image-index card-img-top" alt="{{ post.title }}" width="410px" height="200px">
                                <div class="card-body">
                                    <p class="card-title">{{ post.title }}</p>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                    <a href="{{ get_post_url_global(post) }}" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


  <!-- Portfolio Section -->
  <section>
    <div class="container text-center">
      <!-- Header Section -->
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-5">
        <h2 class="lead-text" id="projects">Projects I've worked on</h2>
        <!-- Projects Section -->
        <div class="col-lg-12">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- First Project -->
            <div class="col" id="first-project">
              <picture>
                <source srcset="{{ url_for('static', filename='img/spotifylogo.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/spotifylogo.png') }}"
                  class="responsive-image-index"
                  alt="spotifylogo"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Spotify top-100 songs of the day playlist creator</h3>
              <p class="align-left">Sometimes all we want to do is to create a special playlist for that special day. This project uses Spotify's API, requests module, and web scraping capabilities to seamlessly create that special playlist based on the top 100 billboard songs from any given day of your choice...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('show_post', category='Projects', slug='spotify-top-100-songs-of-the-day-playlist-creator', post_id=23) }}"><em>Read More...</em></a></p>

            </div>

            <!-- Second Project -->
            <div class="col" id="second-project">
              <picture>
                <source srcset="{{ url_for('static', filename='img/webbot.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/webbot.png') }}"
                  class="responsive-image-index"
                  alt="web bog image"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Twitter bot (Automation)</h3>
              <p class="align-left">Bots! They are everywhere. Some even swear they are going to take our jobs but all you've got to do is learn how to make them do the work for you so they don't take your job, they provide you with a new job - watching them. Using Selenium, here's a bot I created to make your tweets for you while you enjoy your beverage...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('show_post', category='Projects', slug='twitter-bot-automation', post_id=38) }}"><em>Read More...</em></a></p>
            </div>

            <!-- Third Project -->
            <div class="col" id="third-project">
               <picture>
                <source srcset="{{ url_for('static', filename='img/transcription.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/transcription.png') }}"
                  class="responsive-image-index"
                  alt="text to speech image"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Speech to Text</h3>
              <p class="align-left">Sometimes you just can't catch the words people say or even if you do, you forget after blinking. Not to worry, this project uses pydub and Google Cloud's speech recognition to transcribe any audio you want to transcribe. Best of all, even though Google has an audio size limit of 10MB, you can transcribe any size audio using this code and here's why...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('show_post', category='Projects', slug='speech-to-text-transcription', post_id=22) }}"><em>Read More...</em></a></p>
            </div>

            <!-- Fourth Project -->
            <div class="col" id="fourth-project">
               <picture>
                <source srcset="{{ url_for('static', filename='img/snake.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/snake.png') }}"
                  class="responsive-image-index"
                  alt="snake game screenshot"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Snake Game using Turtle</h3>
              <p class="align-left">The classic snake game we played in our childhood can never be forgotten. In this project, I build the entire game with a couple of updates to enhance your experience using Turtle graphics! This project is a fun way to learn about game development, collision detection, and user interaction in Python. Play to find out how many levels you can survive...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('show_post', category='Projects', slug='turtle-crossing-game', post_id=36) }}"><em>Read More...</em></a></p>
            </div>

            <!-- Fifth Project -->
            <div class="col" id="fifth-project">
               <picture>
                <source srcset="{{ url_for('static', filename='img/password.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/password.jpeg') }}"
                  class="responsive-image-index"
                  alt="password manager image"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Password Manager</h3>
              <p class="align-left">In today's digital age, managing and securing your passwords is crucial. This Python Tkinter project is designed to help you keep track of your passwords efficiently and securely. Our Password Manager app allows you to generate strong passwords, save them along with your website and email, and retrieve them seamlessly whenever you want...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('show_post', category='Projects', slug='password-manager', post_id=31) }}"><em>Read More...</em></a></p>
            </div>

            <!-- sixth Project -->
            <div class="col" id="sixth-project">
               <picture>
                <source srcset="{{ url_for('static', filename='img/quizapp.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/quizapp.png') }}"
                  class="responsive-image-index"
                  alt="quiz interface"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Quiz Game with Quiz_Brain</h3>
              <p class="align-left">So you think you are smart and can best any quiz at all? Can you face off Quiz_Brain in this tkinter designed game and come out victorious? Answer questions about general and weirdly specific knowledge to test the limits of your intellectual capacity while having fun. No! Do not ask GPT for the answers...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('show_post', category='Projects', slug='quiz-app-quizzler', post_id=32) }}"><em>Read More...</em></a></p>
            </div>

          </div>
          <!-- Button Below Grid -->
          <div class="mt-4">
            <a class="btn btn-outline-success" href="Projects/post/24"><em>View More Projects...</em></a>
          </div>
        </div>
        </div>
      </div>
  </section>

<!--  Blog Section-->
  <section>
    <div class="container text-center">
      <!-- Header Section -->
      <div class="row flex-lg-row-reverse align-items-center g-5 py-3 mx-5">
        <h2 class="lead-text" id="blogs">My Blog Posts</h2>
        <!-- Align Recent Posts to Left -->
        <div class="col-12 d-flex justify-content-start">
            <p><a class="btn btn-outline-success" href="{{ url_for('blogs') }}" id="blog-text"><em>Recent Posts...</em></a></p>
        </div>

        <!-- Blog Section -->
        <div class="col-lg-12">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- First Project -->
            <div class="col blogs" id="python-blog">
              <picture>
                <source srcset="{{ url_for('static', filename='img/python.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/python.png') }}"
                  class="responsive-image-index"
                  alt="python image"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Yapping about Python</h3>
              <p class="align-left">When I started programming, I made a social media post about it and some of you reached out to ask me about my motivation, the difficulties I encounter and how I overcome them so here's a blog of me yapping about everything python. I hope you enjoy these projects!</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('projects') }}"><em>Read More...</em></a></p>
            </div>

            <!-- Second Blog -->
            <div class="col" id="ugescapades">
               <picture>
                <source srcset="{{ url_for('static', filename='img/UG.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/UG.png') }}"
                  class="responsive-image-index"
                  alt="university of Ghana campus"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">UG Escapades</h3>
              <p class="align-left">Living in Ghana is like living in a maze. Living in a university in Ghana is the Hunger Games. You just never know when your very own existence will become a weapon fashioned against you but the good news is I went through the experience so you can learn from mine. Unless...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('ugescapades') }}"><em>Read More...</em></a></p>
            </div>

            <!-- third Blog -->
            <div class="col" id="musings">
               <picture>
                <source srcset="{{ url_for('static', filename='img/assessment.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/assessment.jpg') }}"
                  class="responsive-image-index"
                  alt="journal page"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Yapping about everything</h3>
              <p class="align-left">If it is not obvious already, I have an overactive mind. One minute I'm debating, the next I'm coloring, and the very next I'm programming. I seem to somehow never run out of ideas so here's where I'm going to tell you about everything that goes on in my mind and outside it...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('random_musings') }}"><em>Read More...</em></a></p>
            </div>

            <!-- fourth blog -->
            <div class="col" id="turkey">
               <picture>
                <source srcset="{{ url_for('static', filename='img/tg3.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/tg3.jpg') }}"
                  class="responsive-image-index"
                  alt="header image"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Why Türkiye?</h3>
              <p class="align-left">People are usually curious about why I chose Türkiye of all the places to study at for my undergraduate. I love to see it as a series of red string theory events falling miraculously into place as dreamt of by 15 year old me. So I give her grace and talk about the events that led me to Istanbul here...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('turkiyegecilmez') }}"><em>Read More...</em></a></p>
            </div>

            <!-- fifth Blog -->
            <div class="col" id="audacity">
               <picture>
                <source srcset="{{ url_for('static', filename='img/audacity.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/audacity.jpg') }}"
                  class="responsive-image-index"
                  alt="journal page"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Where men exist...</h3>
              <p class="align-left">I like to think of myself as a reasonable young woman. However, all reason seems to find a way to fly through the window whenever the infinite well of audacity men draw from is brought into the picture. In this deeply intimate series of posts, I write about my various encounters in hopes of finding an escape...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('audacity') }}"><em>Read More...</em></a></p>
            </div>

             <!-- sixth Blog -->
            <div class="col" id="portfolio">
               <picture>
                <source srcset="{{ url_for('static', filename='img/portfolio-banner.webp') }}" type="image/webp">
                <img
                  src="{{ url_for('static', filename='img/portfolio-banner.png') }}"
                  class="responsive-image-index"
                  alt="journal page"
                  loading="lazy" decoding="async"
                  width="410px"
                  height="200px">
              </picture>
              <h3 class="title">Portfolio</h3>
              <p class="align-left">Everyone thinks they are the best at something, I am not claiming I am but here is where I try to persuade you to hire me so I deliver the best of experiences for you through all the skills I have gathered and continue to gather in my life. You'll see some of my most highly thought of pieces of work here...</p>
              <p><a class="btn btn-outline-success" href="{{ url_for('portfolio') }}"><em>Read More...</em></a></p>
            </div>

          </div>
        </div>
        <div class="mt-4">
         <p><a class="btn btn-outline-success" href="{{ url_for('blogs') }}"><em>View All Blog Posts...</em></a></p>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container text-center">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-3 mx-5">
            <div class="col-md-12" id="services">
              <div class="row justify-content-center" id="todo">
                  <h2>EXPERIENCE / SERVICES</h2>
                  <div class="spacer-10"></div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-4 wp2 animated fadeIn text-center ido">
                   <img class="whatidokeyboard" src="/static/img/keyboard.svg" width="100" height="100" alt="keyboard">
                   <div class="titletodo" ><h3>Web Development</h3></div>
                  <p class="align-left">With a keen interest for design, I started my development journey after getting intrigued by the possibilities of fullstack development while on my Erasmus+ exchange program. Since then, I spend my days getting frustrated about Python dependencies, finding ways to optimize SEO results and barely eating as I strive to enhance my projects.</p>
                </div>

                <div class="col-md-4 wp2 delay-025s animated fadeIn text-center ido">
                  <img class="whatidocontent" src="/static/img/pencil-square.svg" width="100" height="100" alt="pencil and square">
                  <div class="titletodo" ><h3>Content Creation</h3></div>
                  <p class="align-left">I create content across various social media platforms regarding natural hair. I am enthusiastic about empowering women with coily hair to love and embrace their coils, understand how to nourish them and keep them thriving. Follow me on TikTok, Instagram, Pinterest, YouTube or RedNote to stay updated on my hair adventures.</p>
                </div>

                <div class="col-md-4 wp2 delay-05s animated fadeIn text-center ido">
                  <img class="whatidojournal" src="/static/img/journal-album.svg" width="100" height="100" alt="journal">
                  <div class="titletodo" ><h3>Journalism</h3></div>
                  <p class="align-left">Fascinated by the dissemination of information across various cultures and media since childhood, I recently earned a degree in Journalism from Marmara University, Istanbul. Though my degree is in traditional journalism, I am currently gravitating towards computational journalism which leverages AI and data driven decision-making to enhance journalistic endeavours.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
  </section>

  <!--contact form-->
  <section class="container d-flex justify-content-center align-items-center">
    <div class="my-5 col-md-6">
      {% if get_flashed_messages() %}
        <div class="alert alert-success">
          {{ get_flashed_messages()[0] }}
        </div>
      {% endif %}
      <h3 class="lead-text" id="contact">Work with Selorme!</h3>
      <p>
        For collaborations, partnerships, freelance opportunities, feedback, suggestions, or any general enquiry, please fill the form below to send me a message:
      </p>
      <form action="/contact" method="post" id="contactForm" name="sentMessage">
        <input type="text" name="honeypot" style="display:none;">
        <div class="form-floating mb-3">
          <input class="form-control" id="name" name="name" type="text" required>
          <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="email" name="email" type="email" required>
          <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" id="message" name="message" required style="height: 12rem"></textarea>
          <label for="message">Message</label>
        </div>

        <!-- hCaptcha widget -->
        <div class="captcha">
          <div class="h-captcha" data-sitekey="819499c6-e8cc-4900-9484-79bc9ed44f2c"></div>
        </div>
        <button class="btn btn-outline-success text-uppercase w-100" id="submitButton" type="submit">Send</button>
      </form>
    </div>
  </section>

{% endblock %}